language: node_js

script:
  - npm run build
  - echo "SITE STRUCTURE:"
  - ls -al dist/

cach:
  directories:
    - "node_modules"

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  local-dir: dist
  target-branch: gh-pages
  on:
    branch: master
